<div role="tabpanel" class="tab-pane fade pb-2 pt-1 pl-3 pr-3" id="setting_device">
  <div class="row">
    <div class="col-md-6 text-right">
      <button class="btn btn-sm btn-info" :disabled="enable_set" @click="post_command(6)">Request</button>
    </div>
  </div>
  <div class="row">
      <label class="col-sm-2 col-form-label text-right">IP Address</label>
      <div class="col-sm-3">
        <input type="text" id="a2_ip_address" v-model="device.ip_address" class="form-control form-control-sm element-search">
      </div>
  </div>
  <div class="row">
      <label class="col-sm-2 col-form-label text-right">Port</label>
      <div class="col-sm-3">
        <input type="text" id="a2_port" v-model="device.port" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
      <label class="col-sm-2 col-form-label text-right">Ftime</label>
      <div class="col-sm-3">
        <input type="text" id="a2_ftime" v-model="device.ftime" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
    <div class="col-md-5 text-center">
      <button class="btn btn-secondary" :disabled="enable_set" @click="post_command(2)">Set</button>
    </div>
  </div>
</div>
