<div class="row">
  <div class="col-md-4">
    <p>
      <label for="staticEmail" class="col-md-5">Mã thiết bị: </label> {{device.code}}
      <input type="text" class="form-control d-none" id="device_code" v-model="device.code">

    </p>
  </div>
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Ip Address/Port: </label> {{device.ip_address}}:{{device.port}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Ftime: </label> {{device.ftime}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Panel: </label> {{device.panel}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Ngày bắt đầu: </label> {{device.created_at}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Ngày cập nhật: </label> {{device.updated_at}}
    </p>
  </div>
</div>
