<div class="row">
  <div class="col-md-4">
    <p>
      <label for="staticEmail" class="col-md-5">Mã thiết bị: </label> {{device.code}}
      <input type="text" class="form-control d-none" id="device_code" v-model="device.code">
      <input type="text" class="form-control d-none" id="device_id" v-model="device.id">

    </p>
  </div>
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Ip Address/Port: </label> {{device.ip_address}}:{{device.port}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Ftime: </label> {{device.ftime}}
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Panel: </label> {{device.panel == 1 ? "ON" : "OFF"}}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Thời gian bắt đầu: </label><span v-if="device.created_at"> {{ moment.utc(device.created_at).format('DD/MM/YYYY HH:mm:ss') }} </span>
    </p>
  </div>
  <div class="col-md-4">
    <p>
      <label class="col-md-5">Lần cập nhật cuối: </label><span v-if="device.created_at"> {{ moment.utc(status.updated_at).format('DD/MM/YYYY HH:mm:ss') }} </span>
    </p>
  </div>
</div>
