<div role="tabpanel" class="tab-pane fade pb-2 pt-1 pl-3 pr-3" id="dota">

  <div class="row">
      <label class="col-sm-2 col-form-label text-right">IP Address</label>
      <div class="col-sm-3">
        <input type="text" name="city" class="form-control form-control-sm element-search">
      </div>
  </div>
  <div class="row">
      <label class="col-sm-2 col-form-label text-right">Port</label>
      <div class="col-sm-3">
        <input type="text" name="city" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
      <label class="col-sm-2 col-form-label text-right">User</label>
      <div class="col-sm-3">
        <input type="text" name="city" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
      <label class="col-sm-2 col-form-label text-right">Password</label>
      <div class="col-sm-3">
        <input type="text" name="city" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
      <label class="col-sm-2 col-form-label text-right">Name</label>
      <div class="col-sm-3">
        <input type="text" name="city" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
      <label class="col-sm-2 col-form-label text-right">Path</label>
      <div class="col-sm-3">
        <input type="text" name="city" class="form-control form-control-sm element-search">
      </div>
  </div>

  <div class="row">
    <div class="col-md-5 text-center">
      <button class="btn btn-secondary">Set</button>
    </div>
  </div>
</div>
