<div role="tabpanel" class="tab-pane fade pb-2 pt-1 pl-3 pr-3" id="panel_setting">

  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Panel</label>
        <div class="col-sm-7">
          <div class="radio">
            <label><input type="radio" name="panel_setting">On</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="panel_setting">Off</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <button class="btn btn-secondary" :disabled="enable_set">Set</button>
    </div>
  </div>
</div>
