<div role="tabpanel" class="tab-pane active pb-2 pt-1 pl-3 pr-3" id="setting_relay">
  <div class="row">
    <div class="col-md-12 text-right">
      <button class="btn btn-sm btn-info">Request</button>
    </div>
  </div>
  <div class="row p-1">
    <table class="table table-bordered table-sm">
      <thead class="thead-light text-center">
        <tr>
          <th colspan="2" class="text-center">Relay 1</th>
          <th colspan="2" class="text-center">Relay 2</th>
          <th colspan="2" class="text-center">Relay 3</th>
          <th colspan="2" class="text-center">Relay 4</th>
        </tr>
        <tr>
          <th class="text-center">Mode</th>
          <th class="text-center">Status</th>
          <th class="text-center">Mode</th>
          <th class="text-center">Status</th>
          <th class="text-center">Mode</th>
          <th class="text-center">Status</th>
          <th class="text-center">Mode</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">Manual</td>
          <td class="text-center">ON</td>
          <td class="text-center">Manual</td>
          <td class="text-center">ON</td>
          <td class="text-center">Manual</td>
          <td class="text-center">ON</td>
          <td class="text-center">Manual</td>
          <td class="text-center">ON</td>
        </tr>

      </tbody>
    </table>
  </div>
  <div class="row p-1">
    <div class="col-md-12 text-center">
      <button class="btn btn-secondary">Set</button>
    </div>
  </div>
</div>
