<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @message_log.content %>
</p>

<%= link_to 'Edit', edit_message_log_path(@message_log) %> |
<%= link_to 'Back', message_logs_path %>
