<div id="location-areas" class="my-3 p-3 bg-white rounded shadow-sm">
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Trạng thái thiết bị</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped table-md">
          <thead class="thead-light text-center">
            <tr>
              <th rowspan="2" class="text-center">ID</th>
              <th rowspan="2" class="text-center">Khu vưc</th>
              <th colspan="2" class="text-center">Relay 1</th>
              <th colspan="2" class="text-center">Relay 2</th>
              <th colspan="2" class="text-center">Relay 3</th>
              <th colspan="2" class="text-center">Relay 4</th>
            </tr>
            <tr>
              <th class="text-center">Mode</th>
              <th class="text-center">Status</th>
              <th class="text-center">Mode</th>
              <th class="text-center">Status</th>
              <th class="text-center">Mode</th>
              <th class="text-center">Status</th>
              <th class="text-center">Mode</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
            <tr>
              <td class="text-center"><a href="pages/examples/invoice.html">00000001</a></td>
              <td>Đinh Tiên Hoàng</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
              <td class="text-center">Manual</td>
              <td class="text-center">ON</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
    </div>
    <!-- /.box-footer -->
  </div>
</div>