<header>
  <!-- Fixed navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">Smart IO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" href="/">Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/control">Điều khiển</a>
        </li>
<!--         <li class="nav-item">
          <a class="nav-link active" href="/systems">Hệ thống</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/systems">Giới thiệu</a>
        </li> -->
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
            <span class="nav-link active">Xin chào, <%= current_user.username %></span>
          </li>
          <li class="nav-item">
             <%= link_to 'Đăng xuất', destroy_user_session_path, method: :delete, class: "nav-link active" %>
          </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active" href="/users/sign_in">Đăng nhập</a>
            </li>
          <% end %>
        </ul>
      </form>
    </div>
  </nav>
</header>
